<div class="card">
  <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1491707202941-6395f060840f?dpr=2&auto=format&fit=crop&w=1500&h=1125&q=80&cs=tinysrgb&crop=');">
    <div class="card-category"><%= participation.event.user.name %></div>
    <div class="card-description">
      <h2><%= participation.event.title %></h2>
      <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= participation.event.address %></p>
    </div>
    <% if participation.event.user.photo? %>
      <img class="card-user" src="<%= cl_image_path participation.event.user.photo.path%>">
    <% end %>
    <%= link_to "", event_path(participation.event), class: "card-link"  %>
  </div>
  <div class="card-footer">
    <p><i class="fa fa-calendar" aria-hidden="true"></i> <%= participation.event.start_at.strftime("Scheduled on %d/%m/%Y") %></p>
  </div>
</div>
