
<div class="container">
  <div class="tabs text-center">
    <%= link_to "Profile", user_path(current_user), class: "tab" %>
    <%= link_to "My swings", my_events_events_path, class: "tab" %>
    <%= link_to "My participations", user_participations_path(current_user), class: "tab active" %>
  </div>


  <div class="row">

    <div class="col-xs-6">
      <h2>Upcoming</h2>
      <div class="row">
        <% @participations.upcoming.each do |participation| %>
          <div class="col-xs-6">
            <%= render "participations/participation", participation: participation %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-6">
      <h2>Past</h2>
      <div class="row">
        <% @participations.past.each do |participation| %>
          <div class="col-xs-6">
            <%= render "participations/participation", participation: participation %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>









