
<div class="container">
  <div class="tabs text-center">
    <%= link_to "Profile", user_path(current_user), class: "tab" %>
    <%= link_to "My swings", my_events_events_path, class: "tab" %>
    <%= link_to "My participations", user_participations_path(current_user), class: "tab active" %>
  </div>


  <div class="row">
    <div class="to-come">
      <h2>Upcomming</h2>
      <% @participations.each do |participation| %>
        <% if participation.event.start_at > Time.now %>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1491707202941-6395f060840f?dpr=2&auto=format&fit=crop&w=1500&h=1125&q=80&cs=tinysrgb&crop=');">
            <div class="card-category"><%= participation.event.title  %></div>
            <div class="card-description">
              <h2><%= ["moustache night tonight ðŸ¤—", "good times, very soon âœ¨", "yeha ðŸ¤ ", "let's have some fun ðŸ‘", "sex is my favorite sport ðŸ˜‡", "damn I love couples ðŸ˜", "pushing origin master ðŸ¤“", "sushi night ðŸ£"].sample  %></h2>
              <p><%= participation.event.description  %></p>
            </div>
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenai">
              <a class="card-link" href="#" ></a>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="passed">
      <h2>Passed</h2>
      <% @participations.each do |participation| %>
        <% if participation.event.start_at < Time.now %>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1491707202941-6395f060840f?dpr=2&auto=format&fit=crop&w=1500&h=1125&q=80&cs=tinysrgb&crop=');">
            <div class="card-category"><%= participation.event.title  %></div>
            <div class="card-description">
              <h2><%= ["moustache night tonight ðŸ¤—", "good times, very soon âœ¨", "yeha ðŸ¤ ", "let's have some fun ðŸ‘", "sex is my favorite sport ðŸ˜‡", "damn I love couples ðŸ˜", "pushing origin master ðŸ¤“", "sushi night ðŸ£"].sample  %></h2>
              <p><%= participation.event.description  %></p>
            </div>
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenai">
              <a class="card-link" href="#" ></a>
            </div>
            <% unless participation.review %>
              <%= link_to "Add a review", edit_user_participation_path(current_user, participation) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>






