<div class="container">

    <div class="tabs text-center">
      <a class="tab active" data-target="#bio">
        <h2>Profile</h2>
      </a>
      <a class="tab" data-target="#projects">
        <h2>My events</h2>
      </a>
      <a class="tab" data-target="#contact">
        <h2>My participations</h2>
      </a>
    </div>

    <div class="container">
      <div class="row tab-content" id="bio">
        <div class="col-xs-12 col-sm-4 border-right">
          <%= image_tag "avatar.jpg", width: 200, class: "profile_picture" %>
        </div>
        <div class="col-xs-12 col-sm-8">

          <%= simple_form_for @user do |f| %>
            <%= f.input :name %>
            <%= f.input :sex, collection: ["Homme & Femme", "Homme & Homme", "Femme & Femme"] %>
            <%= f.button :submit %>
          <% end %>
          <h3>Reviews</h3>
        </div>
        <div class="tab-content hidden" id="projects">
          <p>blabla</p>
        </div>
        <div class="tab-content hidden" id="contact">
          <p>Contact me if you want.</p>
        </div>
      </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="javascript/tabs.js"></script>
  </div>
