<div class="container">

    <div class="tabs text-center">
      <%= link_to "Profile", "#", class: "tab active" %>
      <%= link_to "My swings", events_path, class: "tab" %>

      <%= link_to "My participations", user_participations_path(current_user), class: "tab" %>
    </div>

    <div class="container">
      <div class="row tab-content" id="profile">
        <div class="col-xs-12 col-sm-4 border-right">
          <%= image_tag "avatar.jpg", width: 200, class: "profile_picture" %>
        </div>
        <div class="col-xs-12 col-sm-8">
          <%= simple_form_for @user do |f| %>
            <%= f.input :name, disabled: true, label: 'Username' %>
            <%= f.input :sex, disabled: true, collection: ["Homme & Femme", "Homme & Homme", "Femme & Femme"], label: "Couple type" %>
          <% end %>
          <i class="fa fa-pencil" aria-hidden="true"></i><%= link_to " edit my profile", edit_user_path(@user) %>
          <h3>Reviews</h3>
        </div>

        <div class="tab-content hidden" id="events">
        </div>

        <div class="tab-content hidden" id="participations">
        </div>

      </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="javascript/tabs.js"></script>
  </div>
