<div class="container">

    <div class="tabs text-center">
      <%= link_to "Profile", "#", class: "tab active" %>
      <%= link_to "My swings", my_events_events_path, class: "tab" %>

      <%= link_to "My participations", user_participations_path(current_user), class: "tab" %>
    </div>

    <div class="container">
      <div class="row tab-content" id="profile">
        <div class="col-xs-12 col-sm-4 border-right">
          <% if !current_user.photo? %>
            <div class="text-center">
              <%= image_tag("couple-placeholder.png", width: 200, height: 200, crop: :fill) %>
            </div>
          <% else %>
            <div class="text-center">
              <%= cl_image_tag current_user.photo.path, width: 200, height: 200, radius: :max, crop: :fill,  gravity: :face %>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-8">
          <%= simple_form_for current_user do |f| %>
            <%= f.input :name, disabled: true, label: "Couple Name" %>
            <%= f.input :sex, disabled: true, collection: ["Man & Woman", "Man & Man", "Woman & Woman"], label: "Couple Type" %>
          <% end %>
          <i class="fa fa-pencil" aria-hidden="true"></i><%= link_to " edit my profile", edit_user_path(current_user) %>
          <h2 class="review-title">Reviews</h2>

          <div class="review">
            <% current_user.events.each do |event| %>
              <% event.participations.each do |participation| %>
              <% if participation.review %>
                <% if !participation.user.photo? %>
                  <%= cl_image_tag "avatar-placeholder.png", width: 60, height: 60, crop: :fill %>
                <% else %>
                  <%= cl_image_tag participation.user.photo.path, width: 60, height: 60, radius: :max, crop: :fill,  gravity: :face %>
                <% end %>
                  <div class="review-details">
                  <%  full = participation.rating.to_i %>
                  <span><%= "✭" * full + "✩" * (10 - full) %></span>
                  <p><%= participation.review %></p>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>

        </div>
      </div>
  </div>
</div>
