<div class="container">

    <div class="tabs text-center">
      <%= link_to "Profile", "#", class: "tab active" %>
      <%= link_to "My events", events_path, class: "tab" %>

      <%= link_to "My participations", user_participations_path(current_user), class: "tab" %>
    </div>

    <div class="container">
      <div class="row tab-content" id="profile">
        <div class="col-xs-12 col-sm-4 border-right">
          <% if !@user.photo? %>
            <div class="text-center">
              <%= cl_image_tag("avatar-placeholder.png", width: 200, height: 200, crop: :fill) %>
              <div><i class="fa fa-pencil" aria-hidden="true"></i><%= link_to " add a picture", edit_user_path(@user) %>
              </div>
            </div>
          <% else %>
            <div class="text-center">
              <%= cl_image_tag @user.photo.path, width: 200, height: 200, radius: :max, crop: :fill,  gravity: :face %>
              <div><i class="fa fa-pencil" aria-hidden="true"></i><%= link_to "edit my picture", edit_user_path(@user) %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-8">
          <%= simple_form_for @user do |f| %>
            <%= f.input :name, disabled: true, label: "My couple name is" %>
            <%= f.input :sex, disabled: true, collection: ["Man & Woman", "Man & Man", "Woman & Woman"], label: "My couple is" %>
          <% end %>
          <i class="fa fa-pencil" aria-hidden="true"></i><%= link_to " edit my details", edit_user_path(@user) %>
          <h3>Reviews</h3>
        </div>

        <div class="tab-content hidden" id="events">
        </div>

        <div class="tab-content hidden" id="participations">
        </div>

      </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="javascript/tabs.js"></script>
  </div>
