<div class="container">

    <div class="tabs text-center">
      <%= link_to "Profile", "#", class: "tab active" %>
      <%= link_to "My swings", my_events_events_path, class: "tab" %>

      <%= link_to "My participations", user_participations_path(current_user), class: "tab" %>
    </div>

    <div class="container">
      <div class="row tab-content" id="profile">
        <div class="col-xs-12 col-sm-4 border-right">
          <% if !current_user.photo? %>
            <div class="text-center">
              <%= cl_image_tag("avatar-placeholder.png", width: 200, height: 200, crop: :fill) %>
            </div>
          <% else %>
            <div class="text-center">
              <%= cl_image_tag current_user.photo.path, width: 200, height: 200, radius: :max, crop: :fill,  gravity: :face %>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-8">
          <%= simple_form_for current_user do |f| %>
            <%= f.input :name, disabled: true, label: "Couple Name" %>
            <%= f.input :sex, disabled: true, collection: ["Man & Woman", "Man & Man", "Woman & Woman"], label: "Couple Type" %>
          <% end %>
          <i class="fa fa-pencil" aria-hidden="true"></i><%= link_to " edit my profile", edit_user_path(current_user) %>
          <h3>Reviews</h3>
          <div class="reviews">
            <% current_user.events.each do |event| %>
              <% event.participations.each do |participation| %>
                <div class="review">
                  <%= "★" * participation.rating.to_i %>
                  <%= participation.review %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

      </div>
  </div>
</div>
