<div class="all-content">
  <div class="row">
    <div class="col-sm-8">
      <div class="main-content">
        <div class=" margin-zero row">
          <div class="search-bar text-center">
            <%= simple_form_for :search, :html => { role: 'form', class: 'form-inline' }, url: events_path, method: :get do |f|  %>
              <%= f.input :sex, :label => false, collection:['⚣ Gay', '⚢ Lesbian', '⚤ Straight'], input_html: { value: params[:search][:sex] } %>
              <%= f.input :address, placeholder: "Paris", label: false, input_html: { value: params[:search][:address] } %>
              <% if user_signed_in? %>
              <%= f.button :submit, "Let's swing" %>
              <% else %>
              <button type="button" class="btn btn-danger-home" data-toggle="modal" data-target="#myModal">
                Let's swing
              </button>
              <% end %>
            <% end %>
          </div>

          <% @events.each do |event| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <% if start_at > Time.now %>
              <div class="card">
                <% if event.photo? %>
                  <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path event.photo.path%>');">
                <% else %>
                <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1491707202941-6395f060840f?dpr=2&auto=format&fit=crop&w=1500&h=1125&q=80&cs=tinysrgb&crop=');">
                <% end %>
                  <div class="card-category"><%= event.user.name  %></div>
                    <div class="card-description">
                      <h2><%= event.title %></h2>
                      <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= event.address %></p>
                    </div>
                  <% if event.user.photo? %>
                    <img class="card-user" src="<%= cl_image_path event.user.photo.path%>">
                  <% end %>
                  <%= link_to "", event_path(event), class: "card-link"  %>
                </div>
                <div class="card-footer">
                  <p><i class="fa fa-calendar" aria-hidden="true"></i> <%= event.start_at.strftime("Scheduled on %d/%m/%Y") %></p>
                </div>
              </div>
              <%end%>
            </div>
          <%end%>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div id="map" style="width: 100%; height: 600px;"></div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>
<% end %>


