
<div class="container">

  <div class="tabs text-center">
    <%= link_to "Profile", user_path(current_user), class: "tab" %>
    <%= link_to "My swings", "#", class: "tab active" %>
    <%= link_to "My participations", user_participations_path(current_user), class: "tab" %>
  </div>

<div id="events">
  <% @my_events.each do |event| %>
    <div class="event">
      <div class="title">
        <%= event.title %>
      </div>
      <div class="details">
        <p><%= event.start_at %></p>
        <p><%= event.user.name %></p>
      </div>
      <div class="description">
        <%= event.description %>
      </div>
    </div>
  <% end %>
  <%= link_to "Create a Swing", new_event_path %>

</div>
