<div class="container">

  <div class="tabs text-center">
    <%= link_to "Profile", user_path(current_user), class: "tab" %>
    <%= link_to "My events", "#", class: "tab active" %>
    <%= link_to "My participations", user_participations_path(current_user), class: "tab" %>
  </div>

  <div class="container">
    <%= link_to "Create a Swing", new_event_path %>
    <% @my_events.each do |event| %>
      <div class="event">
        <%= event.title %>
        <%= event.date %>
        <%= event.description %>
      </div>
    <% end %>

  </div>
</div>
