<h1>Create a Swing</h1>

<%= simple_form_for @event do |f|%>
  <%= f.input :title %>
  <%= f.input :start_at, value: Time.now%>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
