<div class="banner-event">
  <img src="https://images.unsplash.com/photo-1491707202941-6395f060840f?dpr=2&auto=format&fit=crop&w=1500&h=1125&q=80&cs=tinysrgb&crop=" alt="">
</div>

<div class="event">
  <div class="row">
    <div class="col-sm-6">
      <div class="event-description">
        <h1><%= @event.title %></h1>
        <h2>
          <%= @event.user.name %>,
          <%= @event.address %>
        </h2>

        <p><%= @event.description %></p>
      </div>
    </div>

    <div class="col-sm-4 col-sm-offset-2">
      <div class="participate">
        <%= simple_form_for [@event, @participation] do |f| %>
          <%= f.button :submit, value: "Enter the Dance", class: "btn btn-primary cta"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>


